Repository submariner-io/lighthouse, pull requests merged in 2021-06, with the labels that each got.

#548 Use short Kubernetes versions
  .github/workflows/e2e-full.yml
  .github/workflows/flake_finder.yml
Labels: ready-to-test

#554 Add reload-images makefile target
  scripts/reload-images
Labels: ready-to-test

#514 Add support for SRV record for ClusterIP services
  pkg/service/controller.go
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/lighthouse.go
  plugin/lighthouse/parse.go
  plugin/lighthouse/record.go
Labels: ready-to-test, srv-record

#553 SRV record headless
  pkg/endpointslice/controller.go
  pkg/endpointslice/map.go
  pkg/endpointslice/map_test.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/parse.go
  plugin/lighthouse/record.go
Labels: ready-to-test

#556 Add GlobalIngressIP syncer
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/globalingressip.go
  pkg/agent/controller/types.go
Labels: ready-to-test

#557 Update agent unit tests related to Globalnet
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/globalingressip.go
Labels: ready-to-test

#560 Refactor agent tests
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/globalnet_test.go
  pkg/agent/controller/headless_service_test.go
  pkg/agent/controller/reconciliation_test.go
  pkg/agent/controller/service_export_failures_test.go
  pkg/agent/controller/service_import_sync_test.go
Labels: ready-to-test

#563 Enable Globalnet v2 and e2e
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/globalnet_test.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Labels: ready-to-test

#566 Fix DNS name in SRV records for headless service.
  pkg/endpointslice/map.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/record.go
Labels: ready-to-test, srv-record

#569 Format expected values with fmt.Sprintf
  plugin/lighthouse/handler_test.go
Labels: ready-to-test

#570 Pull in lichen as needed, remove Dockerfile.dapper
  .gitignore
  Dockerfile.dapper
  Makefile
  go.mod
  go.sum
  tools.go
Labels: ready-to-test

#564 Add e2e to test SRV records for clusterIP services
  test/e2e/discovery/service_discovery.go
Labels: ready-to-test, srv-record

#575 Add linter to check no "Apply suggestions" commits
  .github/workflows/linting.yml
Labels: automation, ready-to-test
