Repository submariner-io/lighthouse, pull requests merged in 2022-11, with the labels that each got.

#942 Move loadbalancer package to the coredns module
  coredns/loadbalancer/balancer.go
  coredns/loadbalancer/smooth_weighted_round_robin.go
  coredns/loadbalancer/smooth_weighted_round_robin_test.go
  coredns/loadbalancer/suite_test.go
  coredns/serviceimport/map.go
Labels: ready-to-test

#943 Automated backport of #942: Move loadbalancer package to the coredns module
  coredns/loadbalancer/balancer.go
  coredns/loadbalancer/smooth_weighted_round_robin.go
  coredns/loadbalancer/smooth_weighted_round_robin_test.go
  coredns/loadbalancer/suite_test.go
  coredns/serviceimport/map.go
Labels: ready-to-test, automated-backport

#944 Copy constants from lighthouse to coredns
  coredns/constants/constants.go
  coredns/endpointslice/controller.go
  coredns/endpointslice/controller_test.go
  coredns/endpointslice/map.go
  coredns/endpointslice/map_test.go
  coredns/go.mod
  coredns/plugin/handler_test.go
  coredns/serviceimport/controller_test.go
  coredns/serviceimport/map.go
Labels: backport, ready-to-test

#937 Add release note for #860
  release-notes/20221102-no-records-dns.md
Labels: ready-to-test

#945 Automated backport of #944: Copy constants from lighthouse to coredns
  coredns/constants/constants.go
  coredns/endpointslice/controller.go
  coredns/endpointslice/controller_test.go
  coredns/endpointslice/map.go
  coredns/endpointslice/map_test.go
  coredns/go.mod
  coredns/plugin/handler_test.go
  coredns/serviceimport/controller_test.go
  coredns/serviceimport/map.go
Labels: ready-to-test, automated-backport

#946 Use golangci-lint for header checks
  .github/workflows/linting.yml
  .golangci.yml
  .licenserc.json
Labels: ready-to-test

#961 Configure dependabot for 0.14
  .github/dependabot.yml
Labels: ready-to-test

#984 Automated backport of #860: Write the dns message response body when it is not a
  coredns/plugin/handler.go
  coredns/plugin/handler_test.go
Labels: ready-to-test, automated-backport
