Repository submariner-io/lighthouse, pull requests merged in 2022-04, with the labels that each got.

#724 Automated backport of #709: Add validations for ClusterID
  pkg/agent/controller/agent.go
Labels: ready-to-test, automated-backport

#719 Remove unnecessary parentheses
  pkg/agent/controller/controller_suite_test.go
  pkg/loadbalancer/smooth_weighted_round_robin_test.go
  plugin/lighthouse/record.go
Labels: ready-to-test

#726 Bump github.com/coredns/coredns from 1.8.3 to 1.9.1
  go.mod
  go.sum
Labels: ready-to-test

#727 Wrap parameter/return lists as expected by gofumpt
  pkg/agent/controller/agent.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/global_ingressip_cache.go
  pkg/agent/controller/serviceimport.go
  pkg/endpointslice/controller_test.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/record.go
  test/e2e/discovery/headless_services.go
  test/e2e/discovery/service_discovery.go
  test/e2e/discovery/statefulsets.go
  test/e2e/framework/framework.go
  tools/tools.go
Labels: ready-to-test, maintenance

#738 Move `deployments.go` to Lighthouse
  test/e2e/framework/deployments.go
Labels: backport, ready-to-test

#740 Fix golangci-lint Go linting
  test/e2e/framework/deployments.go
Labels: ready-to-test, maintenance

#741 Backports of #739 and #740
  test/e2e/framework/deployments.go
Labels: bug, ready-to-test, automated-backport
