Repository submariner-io/lighthouse, pull requests merged in 2022-06, with the labels that each got.

#777 Use NettestImageURL var from shipyard
  go.mod
  go.sum
  test/e2e/framework/deployments.go
  test/e2e/framework/framework.go
Labels: ready-to-test

#694 Build Lighthouse images for x86-64 and ARM64
  .github/workflows/multiarch.yml
  Makefile
  package/Dockerfile.lighthouse-agent
  package/Dockerfile.lighthouse-coredns
Labels: ready-to-test, epic:multi-arch, next-version-candidate

#757 Return local cluster IP for headless services
  coredns/endpointslice/controller_test.go
  coredns/endpointslice/map.go
  coredns/endpointslice/map_test.go
  coredns/plugin/handler_test.go
  coredns/plugin/setup.go
  pkg/constants/constants.go
  test/e2e/discovery/headless_services.go
  test/e2e/discovery/statefulsets.go
  test/e2e/framework/framework.go
Labels: ready-to-test

#785 Allow dependabot upgrades on release-0.13
  .github/dependabot.yml
Labels: dependencies, ready-to-test
