Repository submariner-io/lighthouse, pull requests merged in 2023-03, with the labels that each got.

#1114 Automated backport of #1111: Ignore "not ready" addresses for EndpointSlices
  coredns/endpointslice/map.go
  coredns/endpointslice/map_test.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/headless_service_test.go
Labels: ready-to-test, automated-backport

#1113 Automated backport of #1111: Ignore "not ready" addresses for EndpointSlices
  coredns/endpointslice/map.go
  coredns/endpointslice/map_test.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/headless_service_test.go
Labels: ready-to-test, automated-backport

#1123 Use resolver module in CoreDNS plugin
  coredns/gateway/controller.go
  coredns/gateway/controller_test.go
  coredns/plugin/handler.go
  coredns/plugin/handler_test.go
  coredns/plugin/lighthouse.go
  coredns/plugin/record.go
  coredns/plugin/setup.go
  coredns/plugin/setup_internal_test.go
  coredns/resolver/fake/cluster_status.go
Labels: ready-to-test

#1135 Remove serviceimport and endpointslice modules
  coredns/endpointslice/controller.go
  coredns/endpointslice/controller_test.go
  coredns/endpointslice/map.go
  coredns/endpointslice/map_test.go
  coredns/endpointslice/suite_test.go
  coredns/serviceimport/controller.go
  coredns/serviceimport/controller_test.go
  coredns/serviceimport/map.go
  coredns/serviceimport/map_test.go
  coredns/serviceimport/store.go
  coredns/serviceimport/suite_test.go
Labels: ready-to-test

#1147 Automated backport of #1086: Properly disable gateway controller in SD-only install
  coredns/gateway/controller.go
  coredns/gateway/controller_test.go
  coredns/plugin/setup_internal_test.go
Labels: ready-to-test, automated-backport

#1156 Fix race in resolver unit tests
  coredns/resolver/resolver_suite_test.go
Labels: ready-to-test

#1157 Implement legacy ServiceImport migration in the agent controller
  pkg/agent/controller/agent.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/reconciliation_test.go
  pkg/agent/controller/service_import.go
  pkg/agent/controller/service_import_migration_test.go
  pkg/agent/controller/service_import_migrator.go
  pkg/agent/controller/types.go
Labels: ready-to-test

#1158 Bump tim-actions GHAs for node updates
  .github/workflows/linting.yml
Labels: dependencies, ready-to-test
