Repository submariner-io/lighthouse, pull requests merged in 2023-01, with the labels that each got.

#1027 Remove unused kubeClientSet in agent Controller
  pkg/agent/controller/agent.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Labels: technical-debt, ready-to-test

#1029 Bump golang.org/x indirect dependencies
  coredns/go.mod
  coredns/go.sum
  go.mod
  go.sum
Labels: dependencies, ready-to-test

#1021 Switch to ginkgo v2
  coredns/endpointslice/controller_test.go
  coredns/endpointslice/map_test.go
  coredns/endpointslice/suite_test.go
  coredns/gateway/controller_test.go
  coredns/go.mod
  coredns/go.sum
  coredns/loadbalancer/smooth_weighted_round_robin_test.go
  coredns/loadbalancer/suite_test.go
  coredns/plugin/handler_test.go
  coredns/plugin/parse_internal_test.go
  coredns/plugin/plugin_suite_test.go
  coredns/plugin/setup_internal_test.go
  coredns/serviceimport/controller_test.go
  coredns/serviceimport/map_test.go
  coredns/serviceimport/suite_test.go
  go.mod
  go.sum
  pkg/agent/controller/cleanup_test.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/globalnet_test.go
  pkg/agent/controller/headless_service_test.go
  pkg/agent/controller/reconciliation_test.go
  pkg/agent/controller/service_export_failures_test.go
  pkg/agent/controller/service_import_sync_test.go
  test/e2e/discovery/headless_services.go
  test/e2e/discovery/service_discovery.go
  test/e2e/discovery/statefulsets.go
  test/e2e/framework/framework.go
Labels: dependencies, ready-to-test

#1042 Fix flaky EndpointSlice controller tests
  coredns/endpointslice/controller_test.go
Labels: ready-to-test

#1038 Remove legacy label checks for Endpointslices
  coredns/endpointslice/map.go
  pkg/agent/controller/endpoint.go
Labels: technical-debt, ready-to-test

#1026 Remove unused serviceImportUID field in EndpointController
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/types.go
Labels: technical-debt, ready-to-test

#1039 Remove origin-name[space] annotations for ServiceImport
  coredns/plugin/handler_test.go
  coredns/serviceimport/controller_test.go
  coredns/serviceimport/map.go
  pkg/agent/controller/agent.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/serviceimport.go
  pkg/constants/constants.go
Labels: technical-debt, ready-to-test

#1044 Consistently use the coredns logger in the plugin
  coredns/endpointslice/controller.go
  coredns/endpointslice/map.go
  coredns/endpointslice/suite_test.go
  coredns/gateway/controller.go
  coredns/gateway/controller_test.go
  coredns/go.mod
  coredns/go.sum
  coredns/loadbalancer/smooth_weighted_round_robin.go
  coredns/loadbalancer/suite_test.go
  coredns/plugin/coredns_log_sink.go
  coredns/plugin/lighthouse.go
  coredns/plugin/metrics.go
  coredns/plugin/plugin_suite_test.go
  coredns/service/controller.go
  coredns/serviceimport/controller.go
  coredns/serviceimport/map.go
  coredns/serviceimport/suite_test.go
Labels: ready-to-test

#1049 Stop vendoring
  Makefile
Labels: ready-to-test, maintenance

#1050 Use msc-api LabelServiceName constant
  coredns/constants/constants.go
  coredns/endpointslice/controller_test.go
  coredns/endpointslice/map.go
  coredns/endpointslice/map_test.go
  coredns/plugin/handler_test.go
  pkg/agent/controller/agent.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/reconciliation_test.go
  pkg/constants/constants.go
Labels: ready-to-test

#1066 Bump coredns/coredns to the latest master
  coredns/gateway/controller.go
  coredns/go.mod
  coredns/go.sum
Labels: ready-to-test

#1068 Refactor plugin handler test setup
  coredns/plugin/handler_test.go
Labels: ready-to-test

#1052 Resolve service to serviceimport IP
  coredns/plugin/record.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Labels: ready-to-test

#1067 Merge service ports in CoreDNS plugin
  coredns/go.mod
  coredns/go.sum
  coredns/plugin/handler_test.go
  coredns/serviceimport/controller_test.go
  coredns/serviceimport/map.go
  coredns/serviceimport/map_test.go
Labels: ready-to-test

#1079 Change frequency of dependabot gh-action check to monthly
  .github/dependabot.yml
Labels: ready-to-test

#1082 Ignore k8s dependencies included with client-go
  .github/dependabot.yml
Labels: ready-to-test, maintenance
