Repository submariner-io/lighthouse, pull requests merged in 2023-10, with the labels that each got.

#1402 Adjust to generic resource changes in Admiral
  coredns/go.mod
  coredns/go.sum
  go.mod
  go.sum
  pkg/agent/controller/clusterip_service_test.go
  pkg/agent/controller/service_import.go
  pkg/agent/controller/service_import_aggregator.go
Labels: ready-to-test

#1405 Use Gingko spec labels in E2E tests
  test/e2e/discovery/headless_services.go
  test/e2e/discovery/service_discovery.go
  test/e2e/discovery/statefulsets.go
Labels: ready-to-test

#1408 Allow halting on certificate errors
  coredns/go.mod
  coredns/go.sum
  go.mod
  go.sum
  pkg/agent/controller/types.go
  pkg/agent/main.go
Labels: backport, ready-to-test

#1410 Reduce string constant duplication
  test/e2e/discovery/headless_services.go
  test/e2e/discovery/service_discovery.go
  test/e2e/discovery/statefulsets.go
  test/e2e/framework/framework.go
Labels: ready-to-test

#1411 Automated backport of #1408: Allow halting on certificate errors
  coredns/go.mod
  coredns/go.sum
  go.mod
  go.sum
  pkg/agent/controller/types.go
  pkg/agent/main.go
Labels: ready-to-test, automated-backport

#1412 Remove release-notes files
  release-notes/20221011-new-synced-condition.md
  release-notes/20221018-service-updates.md
  release-notes/20221102-no-records-dns.md
Labels: ready-to-test

#1409 Use envconfig for all SUBMARINER_ variables
  pkg/agent/controller/types.go
  pkg/agent/main.go
Labels: ready-to-test

#1414 Bump admiral and adjust to Federator API changes
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/cleanup.go
  pkg/agent/controller/cleanup_test.go
  pkg/agent/controller/endpoint_slice.go
  pkg/agent/controller/service_endpoint_slices.go
  pkg/agent/controller/service_export_client.go
  pkg/agent/controller/service_import.go
  pkg/agent/controller/service_import_aggregator.go
  pkg/agent/controller/service_import_migrator.go
  pkg/agent/main.go
Labels: ready-to-test

#1415 Automated backport of #1414: Bump admiral and adjust to Federator API changes
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/cleanup.go
  pkg/agent/controller/cleanup_test.go
  pkg/agent/controller/endpoint_slice.go
  pkg/agent/controller/service_endpoint_slices.go
  pkg/agent/controller/service_export_client.go
  pkg/agent/controller/service_import.go
  pkg/agent/controller/service_import_aggregator.go
  pkg/agent/controller/service_import_migrator.go
  pkg/agent/main.go
Labels: ready-to-test, automated-backport
