Repository submariner-io/lighthouse, pull requests merged in 2024-05, with the labels that each got.

#1557 Switch to math/rand/v2
  coredns/loadbalancer/smooth_weighted_round_robin_test.go
Labels: ready-to-test

#1551 Requeue ServiceExport when the global IP becomes available
  pkg/agent/controller/agent.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/global_ingressip_cache.go
  pkg/agent/controller/globalingressip.go
  pkg/agent/controller/globalnet_test.go
  pkg/agent/controller/service_endpoint_slices.go
  pkg/agent/controller/types.go
Labels: backport, ready-to-test

#1559 Automated backport of #1551: Requeue ServiceExport when the global IP becomes available
  pkg/agent/controller/agent.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/global_ingressip_cache.go
  pkg/agent/controller/globalingressip.go
  pkg/agent/controller/globalnet_test.go
  pkg/agent/controller/service_endpoint_slices.go
  pkg/agent/controller/types.go
Labels: ready-to-test, release-note-needed, automated-backport

#1561 Adjust to golangci-lint 1.58.0
  .golangci.yml
Labels: ready-to-test

#1562 Specify NamespaceInformer for ServiceImport and EndpointSlice resource syncers
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/clusterip_service_test.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/service_import.go
  pkg/agent/controller/types.go
Labels: backport, ready-to-test

#1563 Automated backport of #1562: Specify NamespaceInformer for SI and EPS resource syncers
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/clusterip_service_test.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/service_import.go
  pkg/agent/controller/types.go
Labels: ready-to-test, automated-backport

#1564 Adjust to golangci-lint 1.58.2
  coredns/loadbalancer/smooth_weighted_round_robin_test.go
Labels: ready-to-test
