Repository submariner-io/lighthouse, pull requests merged in 2024-11, with the labels that each got.

#1675 Fix inadvertent deletion of aggregated ServiceImports on agent restart
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/reconciliation_test.go
  pkg/agent/controller/service_import.go
Labels: backport, ready-to-test, release-note-needed

#1677 Automated backport of #1675: Fix inadvertent deletion of aggregated ServiceImports on
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/reconciliation_test.go
  pkg/agent/controller/service_import.go
Labels: ready-to-test, automated-backport

#1676 Automated backport of #1675: Fix inadvertent deletion of aggregated ServiceImports on
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/reconciliation_test.go
  pkg/agent/controller/service_import.go
Labels: ready-to-test, automated-backport

#1679 Check that dependencies don't include unmerged commits
  .github/workflows/linting.yml
Labels: ready-to-test

#1678 Automated backport of #1675: Fix inadvertent deletion of aggregated ServiceImports on
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/reconciliation_test.go
  pkg/agent/controller/service_import.go
Labels: ready-to-test, automated-backport

#1681 Fix SRV records not returned for clusterset IP service
  coredns/resolver/clusterip_service_test.go
  coredns/resolver/service_import.go
Labels: backport, ready-to-test
