Repository submariner-io/lighthouse, pull requests merged in 2024-10, with the labels that each got.

#1653 E2E: use ServiceDiscovery CR to determine if clusterset IP is enabled
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Labels: ready-to-test, backport-needed

#1654 Automated backport of #1653: E2E: use ServiceDiscovery CR to determine if clusterset IP is
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Labels: ready-to-test, automated-backport

#1657 Use identifying labels for lookup of EPS on service EPS update
  go.mod
  go.sum
  pkg/agent/controller/clusterip_service_test.go
  pkg/agent/controller/service_endpoint_slices.go
Labels: backport, ready-to-test, release-note-needed

#1661 Automated backport of #1657: Use identifying labels for lookup of EPS on service EPS
  go.mod
  go.sum
  pkg/agent/controller/clusterip_service_test.go
  pkg/agent/controller/service_endpoint_slices.go
Labels: ready-to-test, release-note-needed, automated-backport

#1659 Automated backport of #1657: Use identifying labels for lookup of EPS on service EPS
  go.mod
  go.sum
  pkg/agent/controller/clusterip_service_test.go
  pkg/agent/controller/service_endpoint_slices.go
Labels: ready-to-test, release-note-needed, automated-backport

#1660 Automated backport of #1657: Use identifying labels for lookup of EPS on service EPS
  go.mod
  go.sum
  pkg/agent/controller/clusterip_service_test.go
  pkg/agent/controller/service_endpoint_slices.go
Labels: ready-to-test, release-note-needed, automated-backport
