Repository submariner-io/lighthouse, changes with the owners that CODEOWNERS names for each.
All owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik, @skitt

CODEOWNERS:

* @mangelajo @tpantelis @Oats87
/.github/workflows/ 	@mkolesnik
/scripts/ 		@mkolesnik
Makefile* 		@mkolesnik
Dockerfile.dapper 	@mkolesnik
package/ 		@mkolesnik
go.mod @skitt
go.sum @skitt

Modified tests to use forward plugin
  scripts/deploy
  scripts/resources/coredns-cm.yaml
  scripts/resources/patch-coredns-clusterrole.yaml
Owners: @mkolesnik

Update ServiceExport status
  pkg/agent/controller/agent.go
  pkg/agent/controller/types.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Apply suggestions from code review
  pkg/agent/controller/agent.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Use test & validate from Shipyard
  .gitignore
  Makefile
  scripts/lib/find_functions
  scripts/test
  scripts/validate
  scripts/vendor
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Move agent building parts into Makefile
  .gitignore
  Makefile
  package/Dockerfile
  package/Dockerfile.lighthouse-agent
  package/lighthouse-agent.sh
  scripts/build-agent
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Clean up remaining scripts
  scripts/build-coredns
  scripts/codegen
  scripts/deploy
  scripts/lib/debug_functions
  scripts/lib/version
Owners: @mkolesnik

Apply review comments
  pkg/agent/controller/agent.go
Owners: @mangelajo, @tpantelis, @Oats87

Tag latest stable image as `latest`
  .github/workflows/release.yaml
Owners: @mkolesnik

Tag latest stable image as `latest`
  .github/workflows/release.yaml
Owners: @mkolesnik

Less scripts, reusing Shipyard components (#180)
  .gitignore
  Makefile
  package/Dockerfile
  package/Dockerfile.lighthouse-agent
  package/lighthouse-agent.sh
  scripts/build-agent
  scripts/build-coredns
  scripts/codegen
  scripts/deploy
  scripts/lib/debug_functions
  scripts/lib/find_functions
  scripts/lib/version
  scripts/test
  scripts/validate
  scripts/vendor
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Add ServiceImport CRD
  package/lighthouse-crd.yaml
  pkg/apis/lighthouse.submariner.io/v2alpha1/register.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v2alpha1/fake/fake_lighthouse.submariner.io_client.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v2alpha1/fake/fake_serviceimport.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v2alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v2alpha1/lighthouse.submariner.io_client.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v2alpha1/serviceimport.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/lighthouse.submariner.io/v2alpha1/interface.go
  pkg/client/informers/externalversions/lighthouse.submariner.io/v2alpha1/serviceimport.go
  pkg/client/listers/lighthouse.submariner.io/v2alpha1/expansion_generated.go
  pkg/client/listers/lighthouse.submariner.io/v2alpha1/serviceimport.go
  scripts/deploy
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Apply suggestions from code review
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
Owners: @mangelajo, @tpantelis, @Oats87

Update the Imported service
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/zz_generated.deepcopy.go
Owners: @mangelajo, @tpantelis, @Oats87

Add ClusterId to the Spec
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/zz_generated.deepcopy.go
Owners: @mangelajo, @tpantelis, @Oats87

Update types.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
Owners: @mangelajo, @tpantelis, @Oats87

Use ClusterStatus for storing the ips
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/zz_generated.deepcopy.go
  scripts/deploy
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Use Shipyard devel image
  Dockerfile.dapper
Owners: @mkolesnik

Apply review comments.
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
Owners: @mangelajo, @tpantelis, @Oats87

Add ServiceImport CRD (#171)
  package/lighthouse-crd.yaml
  pkg/apis/lighthouse.submariner.io/v2alpha1/register.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v2alpha1/fake/fake_lighthouse.submariner.io_client.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v2alpha1/fake/fake_serviceimport.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v2alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v2alpha1/lighthouse.submariner.io_client.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v2alpha1/serviceimport.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/lighthouse.submariner.io/v2alpha1/interface.go
  pkg/client/informers/externalversions/lighthouse.submariner.io/v2alpha1/serviceimport.go
  pkg/client/listers/lighthouse.submariner.io/v2alpha1/expansion_generated.go
  pkg/client/listers/lighthouse.submariner.io/v2alpha1/serviceimport.go
  scripts/deploy
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Use Shipyard devel image
  Dockerfile.dapper
Owners: @mkolesnik

Allow creation of service-export before service
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  test/e2e/discovery/service_discovery.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Fix the release GHA
  .github/workflows/release.yaml
Owners: @mkolesnik

Replace MultiClusterService with ServiceImport
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/multiclusterservice/controller_test.go
  pkg/serviceimport/controller.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  pkg/serviceimport/suite_test.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/lighthouse.go
  plugin/lighthouse/setup.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Apply review comments
  pkg/agent/controller/agent.go
Owners: @mangelajo, @tpantelis, @Oats87

Apply review comments
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/suite_test.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/setup.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Apply review comments
  go.mod
  go.sum
  pkg/agent/controller/agent.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Replace MultiClusterService with ServiceImport
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/multiclusterservice/controller_test.go
  pkg/multiclusterservice/suite_test.go
  pkg/serviceimport/controller.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  pkg/serviceimport/suite_test.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/lighthouse.go
  plugin/lighthouse/setup.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Update shipyard version in go.mod
  Makefile
  go.mod
  go.sum
Owners: @mkolesnik, @skitt

Update shipyard version in go.mod (#199)
  Makefile
  go.mod
  go.sum
Owners: @mkolesnik, @skitt

Remove Service Import CRD install for helm deployment
  scripts/deploy
Owners: @mkolesnik

Fix globalnet e2e
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Fix globalnet e2e
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Allow create/delete of service-export before service
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/types.go
  test/e2e/discovery/service_discovery.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Allow create/delete of service-export before service
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/types.go
  test/e2e/discovery/service_discovery.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Update to 0.5.0
  Dockerfile.dapper
  go.mod
  go.sum
Owners: @mkolesnik, @skitt

Update to 0.5.0
  Dockerfile.dapper
  go.mod
  go.sum
Owners: @mkolesnik, @skitt

Fix e2e test failures when run via 'subctl verify'
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Fix e2e test failures when run via 'subctl verify'
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Add golangci-lint config file, add linters
  .golangci.yml
Owners: @mangelajo, @tpantelis, @Oats87

Unpin shipyard after release
  Dockerfile.dapper
Owners: @mkolesnik
