Repository submariner-io/lighthouse, changes with the owners that CODEOWNERS names for each.
All owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik, @skitt

Endpointslice fixes
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
Owners: @mangelajo, @tpantelis, @Oats87

Add second broker client in agent controller tests
  pkg/agent/controller/agent_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Add LocalResourcesEquivalent in endpointslicesyncer
  pkg/agent/controller/agent.go
Owners: @mangelajo, @tpantelis, @Oats87

Add LocalResourcesEquivalent in endpointslicesyncer
  pkg/agent/controller/agent.go
Owners: @mangelajo, @tpantelis, @Oats87

Unpin shipyard after release
  Dockerfile.dapper
Owners: @mkolesnik

Unpin shipyard after release
  Dockerfile.dapper
Owners: @mkolesnik

Add second broker client in agent controller tests
  pkg/agent/controller/agent_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Minor fixes for E2E
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/endpointslice/map.go
  test/e2e/discovery/statefulsets.go
Owners: @mangelajo, @tpantelis, @Oats87

Add E2E for StatefulSets
  test/e2e/discovery/statefulsets.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Initial changes for StatefulSet
  pkg/agent/controller/agent.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
  pkg/constants/constants.go
  pkg/endpointslice/controller.go
  pkg/endpointslice/map.go
  pkg/endpointslice/store.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/lighthouse.go
  plugin/lighthouse/setup.go
Owners: @mangelajo, @tpantelis, @Oats87

Minor fixes based on review comments
  pkg/agent/controller/agent.go
  pkg/endpointslice/controller.go
  pkg/endpointslice/map.go
  test/e2e/discovery/statefulsets.go
Owners: @mangelajo, @tpantelis, @Oats87

Minor fixes for E2E
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/endpointslice/map.go
  test/e2e/discovery/statefulsets.go
Owners: @mangelajo, @tpantelis, @Oats87

Add E2E for StatefulSets
  test/e2e/discovery/statefulsets.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Initial changes for StatefulSet
  pkg/agent/controller/agent.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
  pkg/constants/constants.go
  pkg/endpointslice/controller.go
  pkg/endpointslice/map.go
  pkg/endpointslice/store.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/lighthouse.go
  plugin/lighthouse/setup.go
Owners: @mangelajo, @tpantelis, @Oats87

Minor fixes based on review comments
  pkg/agent/controller/agent.go
  pkg/endpointslice/controller.go
  pkg/endpointslice/map.go
  test/e2e/discovery/statefulsets.go
Owners: @mangelajo, @tpantelis, @Oats87

Create the ServiceImportController in agent Controller
  pkg/agent/controller/agent.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Owners: @mangelajo, @tpantelis, @Oats87

Add e2e to for Lighthouse HA Scenario
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Apply review comments
  test/e2e/discovery/service_discovery.go
Owners: @mangelajo, @tpantelis, @Oats87

Create the ServiceImportController in agent Controller (#292)
  pkg/agent/controller/agent.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Owners: @mangelajo, @tpantelis, @Oats87

Filter ServiceImports from other clusters
  pkg/agent/controller/serviceimport.go
Owners: @mangelajo, @tpantelis, @Oats87

Apply review comments
  pkg/agent/controller/serviceimport.go
Owners: @mangelajo, @tpantelis, @Oats87

Modify e2e
  test/e2e/discovery/statefulsets.go
Owners: @mangelajo, @tpantelis, @Oats87

Filter ServiceImports from other clusters (#293)
  pkg/agent/controller/serviceimport.go
  test/e2e/discovery/statefulsets.go
Owners: @mangelajo, @tpantelis, @Oats87

Use metadata.labels as selector for endpoints
  pkg/agent/controller/serviceimport.go
Owners: @mangelajo, @tpantelis, @Oats87

Use metadata.labels as selector for endpoints
  pkg/agent/controller/serviceimport.go
Owners: @mangelajo, @tpantelis, @Oats87

Remove EndpointSlice DeleteCollection
  pkg/agent/controller/serviceimport.go
  test/e2e/discovery/statefulsets.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Remove EndpointSlice DeleteCollection (#295)
  pkg/agent/controller/serviceimport.go
  test/e2e/discovery/statefulsets.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Set non zero TTL in dns replies
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/lighthouse.go
  plugin/lighthouse/setup.go
  plugin/lighthouse/setup_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Set non zero TTL in dns replies
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/lighthouse.go
  plugin/lighthouse/setup.go
  plugin/lighthouse/setup_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Add EndpointSlice unit tests
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
Owners: @mangelajo, @tpantelis, @Oats87

Add Gateway controller tests
  pkg/gateway/controller.go
  pkg/gateway/controller_test.go
  pkg/serviceimport/controller.go
  plugin/lighthouse/setup_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Add EndpointSlice unit tests
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
Owners: @mangelajo, @tpantelis, @Oats87

Add check for service name in endpoint controller
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
Owners: @mangelajo, @tpantelis, @Oats87

Add check for service name in endpoint controller
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
Owners: @mangelajo, @tpantelis, @Oats87

Add e2e to for Lighthouse HA Scenario (#291)
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Add Gateway controller tests (#300)
  pkg/gateway/controller.go
  pkg/gateway/controller_test.go
  pkg/serviceimport/controller.go
  plugin/lighthouse/setup_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Access services in specific cluster
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Added test cases for cluster access
  pkg/serviceimport/map_test.go
  plugin/lighthouse/handler_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Access services in specific cluster (#282)
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Add YAML linting, fix errors
  .github/workflows/dco-check.yml
  .github/workflows/e2e.yml
  .github/workflows/gitlint.yml
  .github/workflows/md-links-periodic.yml
  .github/workflows/md-links.yml
  .github/workflows/release.yml
  .github/workflows/validations.yml
  .github/workflows/yaml-lint.yml
  .golangci.yml
  .markdownlint.yml
  .yamllint.yml
  package/lighthouse-agent-deployment.yaml
  package/lighthouse-crd.yaml
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

CODEOWNERS:

* @mangelajo @tpantelis @Oats87
/.github/workflows/ 	@mkolesnik
/scripts/ 		@mkolesnik
Makefile* 		@mkolesnik
Dockerfile.dapper 	@mkolesnik
package/ 		@mkolesnik
go.mod @skitt
go.sum @skitt
