Repository submariner-io/lighthouse, changes with the owners that CODEOWNERS names for each.
All owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik, @skitt

Add YAML linting, fix errors
  .github/workflows/dco-check.yml
  .github/workflows/e2e.yml
  .github/workflows/gitlint.yml
  .github/workflows/md-links-periodic.yml
  .github/workflows/md-links.yml
  .github/workflows/release.yml
  .github/workflows/validations.yml
  .github/workflows/yaml-lint.yml
  .golangci.yml
  .markdownlint.yml
  .yamllint.yml
  package/lighthouse-agent-deployment.yaml
  package/lighthouse-crd.yaml
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Use Syncer cache
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Use Syncer cache (#303)
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Use admiral workqueue in Gateway controller
  pkg/gateway/controller.go
Owners: @mangelajo, @tpantelis, @Oats87

Use admiral workqueue in Gateway controller
  pkg/gateway/controller.go
Owners: @mangelajo, @tpantelis, @Oats87

Fix race failure in agent_test
  pkg/agent/controller/agent_test.go
Owners: @mangelajo, @tpantelis, @Oats87

WIP
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
Owners: @mangelajo, @tpantelis, @Oats87

Fix race failure in agent_test (#308)
  pkg/agent/controller/agent_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Convert ServiceImportController to use ResourceSyncer
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Add build Make target for building both binaries
  Makefile
Owners: @mkolesnik

Convert ServiceImportController to use ResourceSyncer
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Add stalebot to lighthouse repo
  .github/stale.yml
Owners: @mangelajo, @tpantelis, @Oats87

Fixing daysUntilStale to 60
  .github/stale.yml
Owners: @mangelajo, @tpantelis, @Oats87

Add stalebot to lighthouse repo
  .github/stale.yml
Owners: @mangelajo, @tpantelis, @Oats87

Fixing daysUntilStale to 60
  .github/stale.yml
Owners: @mangelajo, @tpantelis, @Oats87

Remove supercluster.local
  scripts/resources/coredns-cm.yaml
  test/e2e/discovery/service_discovery.go
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Convert EndpointController to use ResourceSyncer
  go.mod
  go.sum
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Remove supercluster.local (#313)
  scripts/resources/coredns-cm.yaml
  test/e2e/discovery/service_discovery.go
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Link to general contributing docs vs LH-specific
  README.md
Owners: @mangelajo, @tpantelis, @Oats87

Convert EndpointController to use ResourceSyncer
  go.mod
  go.sum
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Link to general contributing docs vs LH-specific
  README.md
Owners: @mangelajo, @tpantelis, @Oats87

Retrieve ServiceImport from syncer cache
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/serviceimport.go
Owners: @mangelajo, @tpantelis, @Oats87

Retrieve Service from syncer cache in SI controller
  pkg/agent/controller/agent.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
Owners: @mangelajo, @tpantelis, @Oats87

Retrieve Service from syncer cache in SI controller (#319)
  pkg/agent/controller/agent.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
Owners: @mangelajo, @tpantelis, @Oats87

Retrieve ServiceImport from syncer cache
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/serviceimport.go
Owners: @mangelajo, @tpantelis, @Oats87

Add build Make target for building both binaries
  Makefile
Owners: @mkolesnik

Use dynamic client to update ServiceExport status
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/types.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

CODEOWNERS:

* @mangelajo @tpantelis @Oats87
/.github/workflows/ 	@mkolesnik
/scripts/ 		@mkolesnik
Makefile* 		@mkolesnik
Dockerfile.dapper 	@mkolesnik
package/ 		@mkolesnik
go.mod @skitt
go.sum @skitt
