Repository submariner-io/lighthouse, changes with the owners that CODEOWNERS names for each.
All owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik, @skitt

Remove the obsolete coredns variable
  Makefile
Owners: @mkolesnik

Bump to Kubernetes 1.17.0 (#228)
  go.mod
  go.sum
  pkg/apis/lighthouse.submariner.io/v1/zz_generated.deepcopy.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v1/lighthouse.submariner.io_client.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v2alpha1/lighthouse.submariner.io_client.go
  pkg/coredns/main.go
  scripts/codegen
Owners: @skitt, @mangelajo, @tpantelis, @Oats87, @mkolesnik

Update codegen for 1.17
  scripts/codegen
Owners: @mkolesnik

Remove the obsolete coredns variable
  Makefile
Owners: @mkolesnik

Update codegen for 1.17 (#243)
  scripts/codegen
Owners: @mkolesnik

Fix Markdown linting errors
  .markdownlint.yml
  README.md
  plugin/lighthouse/README.md
Owners: @mangelajo, @tpantelis, @Oats87

Signed-off-by: I <danibachar89@gmail.com> Service Ip Selection - Round Robin https://github.com/submariner-io/lighthouse/issues/114
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler.go
Owners: @mangelajo, @tpantelis, @Oats87

Signed-off-by: I <danibachar89@gmail.com> (#231)
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler.go
Owners: @mangelajo, @tpantelis, @Oats87

Fix Markdown linting errors
  .markdownlint.yml
  README.md
  plugin/lighthouse/README.md
Owners: @mangelajo, @tpantelis, @Oats87

Move round-robin tests to a new file
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map_test.go
  pkg/serviceimport/suite_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Migrate CRDs to apiextensions v1
  package/lighthouse-crd.yaml
Owners: @mkolesnik

Move round-robin tests to a new file
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map_test.go
  pkg/serviceimport/suite_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Initial support for headless services
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/types.go
  pkg/gateway/controller.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Refactor headless service code
  pkg/agent/controller/agent.go
  pkg/gateway/controller.go
  pkg/serviceimport/map.go
Owners: @mangelajo, @tpantelis, @Oats87

Initial support for headless services (#242)
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/types.go
  pkg/gateway/controller.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Update serviceimport.Map unit tests
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Update serviceimport.Controller unit tests
  pkg/serviceimport/controller.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/store.go
Owners: @mangelajo, @tpantelis, @Oats87

Bump to Admiral & Shipyard 0.6.0
  Dockerfile.dapper
  go.mod
  go.sum
Owners: @mkolesnik, @skitt

Bump to Admiral & Shipyard 0.6.0
  Dockerfile.dapper
  go.mod
  go.sum
Owners: @mkolesnik, @skitt

Update serviceimport.Controller unit tests
  pkg/serviceimport/controller.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/store.go
Owners: @mangelajo, @tpantelis, @Oats87

Update serviceimport.Map unit tests
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Define test package for UT files in serviceimport
  pkg/serviceimport/controller.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map_test.go
  pkg/serviceimport/suite_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Rename "supercluster" to "clusterset"
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
  pkg/serviceimport/controller_test.go
  plugin/lighthouse/handler_test.go
  scripts/deploy
  scripts/resources/coredns-cm.yaml
  test/e2e/discovery/service_discovery.go
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Rename "supercluster" to "clusterset"
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
  pkg/serviceimport/controller_test.go
  plugin/lighthouse/handler_test.go
  scripts/deploy
  scripts/resources/coredns-cm.yaml
  test/e2e/discovery/service_discovery.go
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Apply suggestions from code review
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Owners: @mangelajo, @tpantelis, @Oats87

Apply review comments
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
Owners: @mangelajo, @tpantelis, @Oats87

Remove clusterroles added from tests
  scripts/deploy
  scripts/resources/cluster-role.yaml
Owners: @mkolesnik

Add endpointslice labels
  pkg/agent/controller/agent.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Owners: @mangelajo, @tpantelis, @Oats87

Applied review Comments
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/endpointcontroller.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Owners: @mangelajo, @tpantelis, @Oats87

Create EnpointSlices
  go.mod
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/endpointcontroller.go
  pkg/agent/controller/types.go
  scripts/deploy
  scripts/resources/cluster-role.yaml
Owners: @skitt, @mangelajo, @tpantelis, @Oats87, @mkolesnik

Update agent controller tests
  pkg/agent/controller/agent_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Update agent controller tests
  pkg/agent/controller/agent_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Define test package for UT files in serviceimport
  pkg/serviceimport/controller.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map_test.go
  pkg/serviceimport/suite_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Add link aliveness tests
  .github/ISSUE_TEMPLATE/broken-link.md
  .github/workflows/md-links-periodic.yml
  .github/workflows/md-links.yml
  .markdownlinkcheck.json
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Update SE status on getIPsForService failure
  pkg/agent/controller/agent.go
Owners: @mangelajo, @tpantelis, @Oats87

Update SE status on getIPsForService failure
  pkg/agent/controller/agent.go
Owners: @mangelajo, @tpantelis, @Oats87

Add link aliveness tests
  .github/ISSUE_TEMPLATE/broken-link.md
  .github/workflows/md-links-periodic.yml
  .github/workflows/md-links.yml
  .markdownlinkcheck.json
Owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik

Add agent controller tests for failure scenarios
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Bump dapper base image to 0.6.1
  Dockerfile.dapper
Owners: @mkolesnik

Bump dapper base image to 0.6.1
  Dockerfile.dapper
Owners: @mkolesnik

CODEOWNERS:

* @mangelajo @tpantelis @Oats87
/.github/workflows/ 	@mkolesnik
/scripts/ 		@mkolesnik
Makefile* 		@mkolesnik
Dockerfile.dapper 	@mkolesnik
package/ 		@mkolesnik
go.mod @skitt
go.sum @skitt
