Repository submariner-io/lighthouse, changes with the owners that CODEOWNERS names for each.
All owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik, @skitt

E2E for headless services and pod availability
  test/e2e/discovery/headless_services.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Change E2E test strings
  test/e2e/discovery/headless_services.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Change E2E test strings
  test/e2e/discovery/headless_services.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

E2E for headless services and pod availability
  test/e2e/discovery/headless_services.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Add commit message validations
  .github/workflows/gitlint.yaml
  .gitlint
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Add commit message validations (#266)
  .github/workflows/gitlint.yaml
  .gitlint
Owners: @mkolesnik, @mangelajo, @tpantelis, @Oats87

Enable gosec linting, fix errors
  .golangci.yml
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Bump MD link check linter 0.6->1.*
  .github/workflows/md-links-periodic.yml
  .github/workflows/md-links.yml
Owners: @mkolesnik

Enable gosec linting, fix errors
  .golangci.yml
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Bump MD link check linter 0.6->1.*
  .github/workflows/md-links-periodic.yml
  .github/workflows/md-links.yml
Owners: @mkolesnik

DNS Parser changes to support host.cluster.*
  plugin/lighthouse/handler.go
  plugin/lighthouse/parse.go
  plugin/lighthouse/parse_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Fix flaky verify failures with headless+globalnet
  test/e2e/discovery/headless_services.go
Owners: @mangelajo, @tpantelis, @Oats87

Fix flaky verify failures with headless+globalnet
  test/e2e/discovery/headless_services.go
Owners: @mangelajo, @tpantelis, @Oats87

Create only one Netshoot deployment during e2e headless tests
  test/e2e/discovery/headless_services.go
Owners: @mangelajo, @tpantelis, @Oats87

Create only one Netshoot deployment during e2e headless tests
  test/e2e/discovery/headless_services.go
Owners: @mangelajo, @tpantelis, @Oats87

Apply review comments
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
Owners: @mangelajo, @tpantelis, @Oats87

Applied review Comments
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/endpointcontroller.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Owners: @mangelajo, @tpantelis, @Oats87

Add endpointslice labels
  pkg/agent/controller/agent.go
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Owners: @mangelajo, @tpantelis, @Oats87

Apply suggestions from code review
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Owners: @mangelajo, @tpantelis, @Oats87

Create EnpointSlices
  go.mod
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/endpointcontroller.go
  pkg/agent/controller/types.go
  scripts/deploy
  scripts/resources/cluster-role.yaml
Owners: @skitt, @mangelajo, @tpantelis, @Oats87, @mkolesnik

Remove clusterroles added from tests
  scripts/deploy
  scripts/resources/cluster-role.yaml
Owners: @mkolesnik

Add agent controller tests for failure scenarios (#262)
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Remove ServiceImport controller workqueue
  pkg/serviceimport/controller.go
Owners: @mangelajo, @tpantelis, @Oats87

Remove ServiceImport controller workqueue (#264)
  pkg/serviceimport/controller.go
Owners: @mangelajo, @tpantelis, @Oats87

DNS Parser changes to support host.cluster.*
  plugin/lighthouse/handler.go
  plugin/lighthouse/parse.go
  plugin/lighthouse/parse_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Bump to admiral 0.6.1
  go.mod
  go.sum
Owners: @skitt

Bump to admiral 0.6.1
  go.mod
  go.sum
Owners: @skitt

Use FailingReactor from admiral
  go.sum
  pkg/agent/controller/agent_test.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Use FailingReactor from admiral
  go.sum
  pkg/agent/controller/agent_test.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Add EndpointSlice Syncer
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/endpointslice.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Owners: @mangelajo, @tpantelis, @Oats87

Apply review comments
  pkg/agent/controller/agent.go
  pkg/agent/controller/endpointslice.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Owners: @mangelajo, @tpantelis, @Oats87

Apply review comments
  pkg/agent/controller/agent.go
Owners: @mangelajo, @tpantelis, @Oats87

Change admiral version to v0.6.1
  go.sum
Owners: @skitt

Apply review comments
  go.sum
  pkg/agent/controller/agent.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Change admiral version to v0.6.1
  go.sum
Owners: @skitt

Apply review comments
  pkg/agent/controller/agent.go
  pkg/agent/controller/endpointslice.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Owners: @mangelajo, @tpantelis, @Oats87

Apply review comments
  pkg/agent/controller/agent.go
Owners: @mangelajo, @tpantelis, @Oats87

Add EndpointSlice Syncer
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/endpointslice.go
  pkg/agent/controller/types.go
  pkg/agent/main.go
Owners: @mangelajo, @tpantelis, @Oats87

Apply review comments
  go.sum
  pkg/agent/controller/agent.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Endpointslice fixes
  pkg/agent/controller/endpoint.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/controller/types.go
Owners: @mangelajo, @tpantelis, @Oats87

CODEOWNERS:

* @mangelajo @tpantelis @Oats87
/.github/workflows/ 	@mkolesnik
/scripts/ 		@mkolesnik
Makefile* 		@mkolesnik
Dockerfile.dapper 	@mkolesnik
package/ 		@mkolesnik
go.mod @skitt
go.sum @skitt
