Repository submariner-io/lighthouse, changes with the owners that CODEOWNERS names for each.
All owners: @mangelajo, @tpantelis, @Oats87, @mkolesnik, @skitt

Unpin shipyard after release
  Dockerfile.dapper
Owners: @mkolesnik

Add golangci-lint config file, add linters
  .golangci.yml
Owners: @mangelajo, @tpantelis, @Oats87

Enable whitespace linting, fix errors
  .golangci.yml
  pkg/serviceimport/controller.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/parse.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Enable whitespace linting, fix errors
  .golangci.yml
  pkg/serviceimport/controller.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/parse.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Enable gocritic style/opinionated lints, fix errs
  .golangci.yml
  pkg/agent/controller/agent.go
  pkg/apis/lighthouse.submariner.io/v1/types.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Enable gocritic style/opinionated lints, fix errs
  .golangci.yml
  pkg/agent/controller/agent.go
  pkg/apis/lighthouse.submariner.io/v1/types.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/types.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Enable lll line length linting, fix errors
  .golangci.yml
  pkg/agent/controller/agent.go
  pkg/agent/main.go
  plugin/lighthouse/setup.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Enable lll line length linting, fix errors
  .golangci.yml
  pkg/agent/controller/agent.go
  pkg/agent/main.go
  plugin/lighthouse/setup.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

Use ResourceSyncer for Service
  pkg/agent/controller/agent.go
  pkg/agent/controller/types.go
Owners: @mangelajo, @tpantelis, @Oats87

Use ResourceSyncer for Service
  pkg/agent/controller/agent.go
  pkg/agent/controller/types.go
Owners: @mangelajo, @tpantelis, @Oats87

Add agent controller unit tests
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/main.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Aligh HELM deployment with Operator
  scripts/deploy
  scripts/resources/coredns-cm.yaml
Owners: @mkolesnik

Aligh HELM deployment with Operator (#219)
  scripts/deploy
  scripts/resources/coredns-cm.yaml
Owners: @mkolesnik

Add agent controller unit tests (#217)
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/main.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Set LastTransitionTime and Reason in ServiceExportStatus
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Set LastTransitionTime and Reason in ServiceExportStatus
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Update status to Exported when successfully synced
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Reduce default agent log verbosity
  package/lighthouse-agent.sh
Owners: @mkolesnik

Update status to Exported when successfully synced
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Reduce default agent log verbosity (#224)
  package/lighthouse-agent.sh
Owners: @mkolesnik

Append to the ServiceExportCondition list
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Append to the ServiceExportCondition list
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @skitt, @mangelajo, @tpantelis, @Oats87

Fix linting errors
  pkg/gateway/controller.go
  plugin/lighthouse/handler.go
Owners: @mangelajo, @tpantelis, @Oats87

Refactor clusterStatus map
  pkg/gateway/controller.go
  pkg/gateway/map.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/lighthouse.go
  plugin/lighthouse/setup.go
Owners: @mangelajo, @tpantelis, @Oats87

Use GatewayStatus
  pkg/gateway/controller.go
  pkg/gateway/map.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/lighthouse.go
  plugin/lighthouse/setup.go
Owners: @mangelajo, @tpantelis, @Oats87

Fix plugin unit tests failures
  pkg/gateway/controller.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/setup_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Fix linting errors
  pkg/gateway/controller.go
  pkg/serviceimport/map.go
Owners: @mangelajo, @tpantelis, @Oats87

Ignore deletes and add more UTs
  pkg/gateway/controller.go
  pkg/serviceimport/controller.go
  plugin/lighthouse/handler_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Fix linting errors
  pkg/gateway/controller.go
  pkg/serviceimport/map.go
Owners: @mangelajo, @tpantelis, @Oats87

Fix linting errors
  pkg/gateway/controller.go
  plugin/lighthouse/handler.go
Owners: @mangelajo, @tpantelis, @Oats87

Use GatewayStatus
  pkg/gateway/controller.go
  pkg/gateway/map.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/lighthouse.go
  plugin/lighthouse/setup.go
Owners: @mangelajo, @tpantelis, @Oats87

Fix plugin unit tests failures
  pkg/gateway/controller.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/setup_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Refactor clusterStatus map
  pkg/gateway/controller.go
  pkg/gateway/map.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/lighthouse.go
  plugin/lighthouse/setup.go
Owners: @mangelajo, @tpantelis, @Oats87

Ignore deletes and add more UTs
  pkg/gateway/controller.go
  pkg/serviceimport/controller.go
  plugin/lighthouse/handler_test.go
Owners: @mangelajo, @tpantelis, @Oats87

Enable wsl positive whitespace linting, fix errors
  .golangci.yml
  pkg/agent/controller/agent.go
  pkg/agent/main.go
  pkg/apis/lighthouse.submariner.io/v1/register.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/register.go
  pkg/gateway/controller.go
  pkg/serviceimport/controller.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/parse.go
  plugin/lighthouse/parse_test.go
  plugin/lighthouse/setup.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

build(coredns): build with external golang source code
  Makefile
  go.sum
  package/Dockerfile.lighthouse-coredns
  pkg/coredns/main.go
  scripts/build-coredns
Owners: @mkolesnik, @skitt, @mangelajo, @tpantelis, @Oats87

Enable wsl positive whitespace linting, fix errors
  .golangci.yml
  pkg/agent/controller/agent.go
  pkg/agent/main.go
  pkg/apis/lighthouse.submariner.io/v1/register.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/register.go
  pkg/gateway/controller.go
  pkg/serviceimport/controller.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/parse.go
  plugin/lighthouse/parse_test.go
  plugin/lighthouse/setup.go
  test/e2e/discovery/service_discovery.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87

server ip selection
  pkg/serviceimport/map.go
  plugin/lighthouse/handler.go
Owners: @mangelajo, @tpantelis, @Oats87

build(coredns): build with external golang source code (#227)
  Makefile
  go.sum
  package/Dockerfile.lighthouse-coredns
  pkg/coredns/main.go
  scripts/build-coredns
Owners: @mkolesnik, @skitt, @mangelajo, @tpantelis, @Oats87

Bump to Kubernetes 1.17.0
  go.mod
  go.sum
  pkg/apis/lighthouse.submariner.io/v1/zz_generated.deepcopy.go
  pkg/apis/lighthouse.submariner.io/v2alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v1/lighthouse.submariner.io_client.go
  pkg/client/clientset/versioned/typed/lighthouse.submariner.io/v2alpha1/lighthouse.submariner.io_client.go
  pkg/coredns/main.go
  scripts/codegen
Owners: @skitt, @mangelajo, @tpantelis, @Oats87, @mkolesnik

CODEOWNERS:

* @mangelajo @tpantelis @Oats87
/.github/workflows/ 	@mkolesnik
/scripts/ 		@mkolesnik
Makefile* 		@mkolesnik
Dockerfile.dapper 	@mkolesnik
package/ 		@mkolesnik
go.mod @skitt
go.sum @skitt
