Repository submariner-io/lighthouse, changes with the owners that CODEOWNERS names for each.
All owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik, @skitt

Use dynamic client to update ServiceExport status
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/types.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @skitt

Use endpointslices for headless services
  pkg/endpointslice/map.go
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Add UT for endpointslice/maps and review comments
  pkg/endpointslice/map.go
  pkg/endpointslice/map_test.go
  pkg/endpointslice/suite_test.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Use endpointslices for headless services (#316)
  pkg/endpointslice/map.go
  pkg/endpointslice/map_test.go
  pkg/endpointslice/suite_test.go
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Use Spec.IP for ClusterIP instead IP from status field
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler_test.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Apply review comments
  pkg/agent/controller/agent.go
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
  plugin/lighthouse/handler.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Apply review comments
  pkg/serviceimport/map.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Bump to shipyard/admiral 0.7.x version
  Dockerfile.dapper
  go.mod
  go.sum
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik, @skitt

Bump to shipyard/admiral 0.7.x version
  Dockerfile.dapper
  go.mod
  go.sum
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik, @skitt

Refactor linting GHA jobs/workflows
  .github/workflows/dco-check.yml
  .github/workflows/gitlint.yml
  .github/workflows/linting.yml
  .github/workflows/md-links.yml
  .github/workflows/yaml-lint.yml
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Remove old validate job, covered by other linters
  .github/workflows/validations.yml
  Makefile
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Refactor unit test job
  .github/workflows/unit.yml
  .github/workflows/validations.yml
  Makefile
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Refactor periodic GHA workflow
  .github/workflows/periodic.yml
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Refactor E2E GHA workflow
  .github/workflows/e2e.yml
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Refactor linting GHA jobs/workflows
  .github/workflows/dco-check.yml
  .github/workflows/gitlint.yml
  .github/workflows/linting.yml
  .github/workflows/md-links.yml
  .github/workflows/yaml-lint.yml
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Refactor E2E GHA workflow
  .github/workflows/e2e.yml
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Refactor release job
  .github/workflows/release.yml
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Remove code-gen job
  .github/workflows/linting.yml
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Remove old validate job, covered by other linters
  .github/workflows/validations.yml
  Makefile
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Refactor unit test job
  .github/workflows/unit.yml
  .github/workflows/validations.yml
  Makefile
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Refactor periodic GHA workflow
  .github/workflows/periodic.yml
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Remove code-gen job
  .github/workflows/linting.yml
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Refactor release job
  .github/workflows/release.yml
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Use the MCS APIs instead of our own
  go.mod
  go.sum
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/controller_suite_test.go
  pkg/agent/controller/serviceimport.go
  pkg/agent/main.go
  pkg/mcs/client/clientset/versioned/clientset.go
  pkg/mcs/client/clientset/versioned/doc.go
  pkg/mcs/client/clientset/versioned/fake/clientset_generated.go
  pkg/mcs/client/clientset/versioned/fake/doc.go
  pkg/mcs/client/clientset/versioned/fake/register.go
  pkg/mcs/client/clientset/versioned/scheme/doc.go
  pkg/mcs/client/clientset/versioned/scheme/register.go
  pkg/mcs/client/clientset/versioned/typed/apis/v1alpha1/apis_client.go
  pkg/mcs/client/clientset/versioned/typed/apis/v1alpha1/doc.go
  pkg/mcs/client/clientset/versioned/typed/apis/v1alpha1/fake/doc.go
  pkg/mcs/client/clientset/versioned/typed/apis/v1alpha1/fake/fake_apis_client.go
  pkg/mcs/client/clientset/versioned/typed/apis/v1alpha1/fake/fake_serviceexport.go
  pkg/mcs/client/clientset/versioned/typed/apis/v1alpha1/fake/fake_serviceimport.go
  pkg/mcs/client/clientset/versioned/typed/apis/v1alpha1/generated_expansion.go
  pkg/mcs/client/clientset/versioned/typed/apis/v1alpha1/serviceexport.go
  pkg/mcs/client/clientset/versioned/typed/apis/v1alpha1/serviceimport.go
  pkg/mcs/client/informers/externalversions/apis/interface.go
  pkg/mcs/client/informers/externalversions/apis/v1alpha1/interface.go
  pkg/mcs/client/informers/externalversions/apis/v1alpha1/serviceexport.go
  pkg/mcs/client/informers/externalversions/apis/v1alpha1/serviceimport.go
  pkg/mcs/client/informers/externalversions/factory.go
  pkg/mcs/client/informers/externalversions/generic.go
  pkg/mcs/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/mcs/client/listers/apis/v1alpha1/expansion_generated.go
  pkg/mcs/client/listers/apis/v1alpha1/serviceexport.go
  pkg/mcs/client/listers/apis/v1alpha1/serviceimport.go
  pkg/serviceimport/controller.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  pkg/serviceimport/store.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/setup_test.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @skitt

Call framework.By instead of ginkgo in e2e framework beforeSuite
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Unpin Shipyard
  Dockerfile.dapper
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Unpin Shipyard
  Dockerfile.dapper
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @mkolesnik

Call framework.By instead of ginkgo in e2e framework beforeSuite
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Use Spec.IP for ClusterIP instead IP from status field
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/serviceimport/controller_test.go
  pkg/serviceimport/map.go
  plugin/lighthouse/handler_test.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Apply review comments
  pkg/serviceimport/map.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Apply review comments
  pkg/agent/controller/agent.go
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
  plugin/lighthouse/handler.go
  test/e2e/framework/framework.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

fix(service-import): modify the controller spec
  pkg/agent/controller/agent.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

fix(service-import): modify the controller spec
  pkg/agent/controller/agent.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Remove the endpoint controller and tests
  pkg/agent/controller/agent.go
  pkg/agent/controller/agent_test.go
  pkg/agent/controller/types.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Distribute endpointslices for clusterIP services
  pkg/agent/controller/serviceimport.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Add isHealthy API
  pkg/endpointslice/controller.go
  pkg/endpointslice/controller_test.go
  pkg/endpointslice/map.go
  pkg/endpointslice/store.go
  plugin/lighthouse/lighthouse.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

Use the isHealthy API to identify healthy pods
  go.sum
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
  plugin/lighthouse/handler.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/setup.go
  plugin/lighthouse/setup_test.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan, @skitt

Apply suggestions from code review
  pkg/endpointslice/controller.go
  pkg/endpointslice/controller_test.go
  pkg/endpointslice/map.go
  pkg/serviceimport/map.go
  pkg/serviceimport/map_test.go
  plugin/lighthouse/handler_test.go
  plugin/lighthouse/lighthouse.go
Owners: @mangelajo, @tpantelis, @Oats87, @vthapar, @aswinsuryan

CODEOWNERS:

* 			@mangelajo @tpantelis @Oats87 @vthapar @aswinsuryan
/.github/workflows/ 	@mangelajo @tpantelis @Oats87 @vthapar @aswinsuryan @mkolesnik
/scripts/ 		@mangelajo @tpantelis @Oats87 @vthapar @aswinsuryan @mkolesnik
Makefile* 		@mangelajo @tpantelis @Oats87 @vthapar @aswinsuryan @mkolesnik
Dockerfile.dapper 	@mangelajo @tpantelis @Oats87 @vthapar @aswinsuryan @mkolesnik
package/ 		@mangelajo @tpantelis @Oats87 @vthapar @aswinsuryan @mkolesnik
go.mod 			@mangelajo @tpantelis @Oats87 @vthapar @aswinsuryan @skitt
go.sum 			@mangelajo @tpantelis @Oats87 @vthapar @aswinsuryan @skitt
